$background-color: black;

@font-face {
  font-family: "Roboto";
  src: url("http://fonts.cdnfonts.com/css/roboto");
}

body {
  background-image: url("./assets/images/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: $background-color;

  font-family: "Roboto", sans-serif;
}

.container {
  color: white;

  & .temp {
    font-size: 32pt;
  }

  & .feels-like {
    font-size: 24pt;
  }
}
